body {
    width: 100%;
    height: 100%;
}

#main-header-div {
    border-bottom-width: 0;
    border-bottom: 1px solid #E1E1E1;
    margin-top: 10rem;
}

#main-status-badge {
    padding-top: 3.5rem;
    float: right;
}

#main-menu-div {
    margin-top: 2.5rem;
}

#main-body-div {
    margin-top: 10rem;
}

.button:disabled,
button:disabled,
input[type="submit"]:disabled,
input[type="reset"]:disabled,
input[type="button"]:disabled {
    background: #222;
    color: #FFF;
}

.section {
    margin-top: 10rem;
}

.minor-section {
    margin-top: 5rem;
}

.mini-space {
    margin-top: 2.5rem;
}

.break-line {
    border-top-width: 0;
    border-top: 1px solid #E1E1E1;
    padding-top: 2.5rem;
}

.break-line-section {
    border-top-width: 0;
    border-top: 1px solid #E1E1E1;
    padding-top: 2.5rem;
    margin-top: 2.5rem;
}

.warn-weak-text {
    color: #ff6666;
}

.warn-background {
    background-color: #fff9f7;
}

.note-block {
    margin-top: 1.5rem;
    padding: 2.5rem;
    background-color: #fff9f7;
    border-radius: 2rem;
    border: 1px solid dimgrey;
}

.sub-panel {
    margin-top: 1.5rem;
    padding: 2.5rem;
    border-radius: 2rem;
    border: 1px solid dimgrey;
}


/* Modal */

.modal-container {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    padding: 2.5rem;
}

.modal-outline {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(64, 64, 64, 0.5);
    z-index: 2;
    top: 0;
    left: 0;
    opacity: 0.75;
}

.modal-content {
    background-color: white;
    max-width: 768px;
    min-width: 240px;
    width: 50%;
    padding: 2.5rem;
    z-index: 2;
    height: auto;
    margin: 0 auto;
    position: relative;
    opacity: 3;
    border-radius: 10px;
}

.modal-close-button {
    margin: 5px;
    border-radius: 5px;
    background-color: lightcoral;
    text-align: center;
    border: 2px solid dimgrey;
    cursor: pointer;
    pointer-events: click;
}