#main-header-div {
    border-bottom-width: 0;
    border-bottom: 1px solid #E1E1E1;
    margin-top: 10rem;
}

#main-status-badge {
    padding-top: 3.5rem;
    float: right;
}

#main-menu-div {
    margin-top: 2.5rem;
}

#main-body-div {
    margin-top: 10rem;
}

#main-footer-div {
    border-top-width: 0;
    border-top: 1px solid #E1E1E1;
    margin-top: 10rem;
}

.button:disabled,
button:disabled,
input[type="submit"]:disabled,
input[type="reset"]:disabled,
input[type="button"]:disabled {
    background: #222;
    color: #FFF;
}

.section {
    margin-top: 10rem;
}