<div class="row">
    <h4>Add a New Fleet</h4>
</div>
<div class="row">
    <div class="four columns">
        <label for="fcNameInput">FC Character Name</label>
        <input class="u-full-width" type="text" placeholder="FC Name" id="fcNameInput" tabindex="100">
    </div>
    <div class="four columns">
        <label for="fleetTitleInput">Fleet Name</label>
        <input class="u-full-width" type="text" placeholder="Fleet Name" id="fleetTitleInput" tabindex="101" maxlength="64">
    </div>
    <div class="four columns">
        <label for="fleetImportanceInput">Fleet Category*</label>
        <select class="u-full-width" type="text" placeholder="Fleet Name" id="fleetImportanceInput" tabindex="102">
            <option value="-1">Loading...</option>
        </select>
    </div>
</div>
<div class="row">
    <div class="six columns" style="height:100%;">
        <label for="fleetDescriptionInput">Fleet Description</label>
        <textarea style="resize:none; min-height:260px; margin-bottom:26px;" class="u-full-width" type="text" placeholder="Description" id="fleetDescriptionInput" tabindex="103"></textarea>
        <hr>
        <button id="submit-fleet-add-button" type=submit style="margin-bottom:1.5rem;" tabindex="105"><h5>Submit</h5></button>
    </div>
    <div class="six columns">
        <label for="fleetDoctrineInput">Fleet Composition</label>
        <textarea class="u-full-width" type="text" placeholder="What doctrines are being used? Are there special ships in fleet? (Tackle, Hunters, Bridge, Ect)" id="fleetDoctrineInput" style="resize:none; min-height:390px;" tabindex="104"></textarea>
    </div>
</div>
<div class="row section">
    <h4>Fleet Categories</h4>
</div>
<table class="u-full-width">
    <thead>
        <tr>
            <th>Type</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody id="fleet-type-table-body">
    </tbody>
</table>