<div class="row">
    <div class="twelve columns">
        <h2>Fleet Tool User Management</h2>
        <p>You may add, remove, or update users on this page.</p>
        <div class="warn-weak-text warn-background note-block">
            <div>You may not edit users with an equal or higher rank than you.</div>
            <div>Any actions on this page are final. <span class="warn-strong-text">There are no undo buttons.</span></div>
        </div>
    </div>
</div>
<div class="row minor-section">
    <div class="six columns">
        <button class="u-full-width" onclick="this.disable; router.pages['admin/list'].show_add_user()">ADD NEW USER</button>
    </div>
    <div class="six columns">
        <button class="u-full-width" onclick="router.pages['admin/list'].clear_auth()">CLEAR AUTH CACHE</button>
    </div>
</div>
<div class="row">
    <div class="twelve columns">
        <h4 class="minor-section break-line">Current Users</h4>
        <table class="u-full-width">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Username</th>
                    <th>Rank</th>
                    <th>Created</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="view-logins-body">
            </tbody>
        </table>
    </div>
</div>
<div class="container sub-panel u-full-width" id="add-new-user-template" hidden>
    <div class="row">
        <div class="four columns">
            <label for="newUserInputUsername">Username</label>
            <input class="u-full-width" type="text" placeholder="Username" id="newUserInputUsername" tabindex="101" maxlength="64" required>
        </div>
        <div class="four columns">
            <label for="newUserInputPassword">Password</label>
            <input class="u-full-width" type="text" placeholder="Password" id="newUserInputPassword" tabindex="102" maxlength="64" required>
        </div>
        <div class="four columns ">
            <label for="newUserInputRank ">Rank</label>
            <input class="u-full-width " type="number" placeholder="Rank " id="newUserInputRank" tabindex="103" required>
        </div>
    </div>
    <div class="row mini-space">
        <div class="six columns u-pull-right ">
            <button submit class="u-full-width " onclick="router.pages['admin/list'].add_user(); ">Submit</button>
        </div>
    </div>
    <div class="row break-line mini-space">
        <div class="twelve columns u-pull-right ">
            <h5>Ranks</h5>
            <p>Currently ranks are a bit wishy washy.</p>
            <ul>
                <li>Below 5 can create a fleet and update only their own fleet.</li>
                <li>Below 10 can update any fleet, and delete their own fleet.</li>
                <li>10 can delete any fleet and edit users.</li>
            </ul>
            <h2>This does not work atm.</h5>
        </div>
    </div>
</div>