<div class=row>
    <button class='six columns warn-background warn-strong-text' onclick='router.pages["dashboard"].change_password()'>Change Password</button>
    <button class='six columns u-pull-right warn-background warn-strong-text' onclick='router.pages["dashboard"].log_out()'>Log Out</button>
</div>
<div class="row break-line mini-space">
    <h3 class="twelve columns">Fleet Tool Basics - 2 Steps</h3>
    <div class="twelve columns">This is a basic introduction for how to create and update a fleet.</div>
</div>
<div class="row note-block">
    <div class="twelve columns">
        <span class="warn-strong-text">Note: </span><span class="warn-weak-text">An emergency fleet creation mechanism will be added for response fleets.</span>
        <br>
        <span class="warn-strong-text">Note: </span><span class="warn-weak-text">This website is still in development. Features are very limited and subject to change.</span>
        <br>
        <span class="warn-strong-text">Note: </span><span class="warn-weak-text">PLEASE send suggestions or feedback to Peacekeeper. I can't make it better without feedback.</span></div>
</div>
<div class="row minor-section">
    <h4 class="twelve columns">Step 1: Create the fleet</h4>
    <div class="twelve columns">
        <p>Do this <span class="warn-strong-text">BEFORE</span> the fleet leaves. You can do it as early as you want! This takes time, and you don't want to do it on a timeline.</p>
    </div>
    <div class="eleven columns">
        <ol>
            <li>Press the "CREATE" button on the navigation panel.</li>
            <li>Copy and paste the FCs name into the "FC Character Name" box. It is essential you spell this correctly.</li>
            <li>Come up with a fleet name. Try to be relevant and descriptive.</li>
            <li>Select the fleet catagory. A description of each catagory is found at the bottom of the CREATE page.</li>
            <li>Fill in the fleet description telling us what the OP is about and hoping to achieve.</li>
            <li>Fill in the fleet composition with details about what people should be flying. *This is so we can check for SRP.*</li>
            <li>Look over everything and hit Submit!</li>
        </ol>
    </div>
</div>
<div class="row minor-section">
    <h4 class="twelve columns">Step 2: Update the fleet</h4>
    <div class="twelve columns">
        <p>Do this <span class="warn-strong-text">AFTER</span> the fleet leaves. This is meant to be quick copy pasting with some notes for after action reports.</p>
    </div>
    <div class="eleven columns">
        <ol>
            <li>Click "FLEETS" on the nav bar and click "UPDATE" next to the fleet you want to add a checkpoint (PAP) to.<br>
                <span class="warn-weak-text">&nbsp&nbsp&nbsp&nbsp - If you just created a fleet, you will already be on this page.</span>
            </li>
            <li>Copy the fleet member list by doing "ctrl-a ctrl-c" after selecting a name in the fleet chat member list.</li>
            <li>Paste the fleet members into the "New Fleet Members" text box.</li>
            <li>Optionally: Add a description of what was going on at this checkpoint.<br>
                <span class="warn-weak-text">&nbsp&nbsp&nbsp&nbsp - You are strongly encouraged to do this. It will be useful in the future.</span>
            </li>
            <li>Look over the information and press Submit</li>
        </ol>
    </div>
</div>
<div id="change-password-template" hidden>
    <div class="row">
        <label for="change-password-input">Please enter a new password:</label>
        <input class="u-full-width" type="password" placeholder="New Password" id="change-password-input" tabindex="101" maxlength="64">
    </div>
    <div class="row">
        <label for="change-password-input-confirm">Please enter your password again:</label>
        <input class="u-full-width" type="password" placeholder="New Password" id="change-password-input-confirm" tabindex="101" maxlength="64">
    </div>
    <div class="row mini-space">
        <span id="change-password-message">Error has occured! Please refresh the page.</span>
        <button class='u-pull-right u-pull-right four columns warn-background warn-strong-text' id="change-password-submit-button" onclick='router.pages["dashboard"].submit_change_password()'>SUBMIT</div>
    </div>
</div>
<div id="log-out-template" hidden>
    <div class="row">
        <h5>Are you sure you want to log out?</h5>
    </div>
    <div class="row">
        <button class='u-pull-left four columns' onclick='ft.modal.doSafeClose();'>No, I love your tool!</button>
        <button class='u-pull-right four columns warn-background warn-strong-text' onclick='localStorage.clear("EclipseFleetTrackerAuthToken"); ft.modal.doSafeClose(); load_login();'>Yes, I hate your tool.</button>
    </div>
</div>