<div class="row">
    <div class="six columns">
        <div style="height:19.5rem;padding-bottom:6px">
            <h6>Updating:</h6>
            <h4 id="fleet-checkpoint-title-box">Title</h4>
            <h6>Lead by:</h6>
            <h5 id="fleet-checkpoint-fc-box">FC</h5>
        </div>
        <label for="fleet-checkpoint-description-input"><h6><b>Optional</b> checkpoint description or notes:</h6></label>
        <textarea class="u-full-width " type="text " placeholder="What was occuring around this checkpoint? Useful for later analysis. " id="fleet-checkpoint-description-input" style="resize:none; height:17rem " tabindex="104 "></textarea>
        <hr>
        <button id="submit-fleet-update-button"><h4>Submit</h5></button>
    </div>
    <div class="six columns " style="height:100% ">
        <label for="fleet-checkpoint-member-input">New Fleet Members</label>
        <textarea class="u-full-width " type="text " placeholder="Ctrl-A + Ctrl-C the fleet chat window into this box. " id="fleet-checkpoint-member-input" style="resize:none; height:50rem; " tabindex="104 "></textarea>
    </div>
</div>